body{
  margin:0px;
  font-family: 'Reem Kufi', sans-serif;
}

p{
  margin:0px;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto 2%;
}

.grid-item2{
  background-color: #4F5050;
  height: 30vh;
  font-size: 130%;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 8;
}

.grid-item1{
  grid-column-start: 1;
  grid-column-end: 8;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 10vh;
  font-size: 30px;
  margin-bottom: 10vh;
}

.grid-logginn{
  grid-column-start: 1;
  grid-column-end: 8;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.0);
}

.grid-item3{
  grid-column-start: 1;
  grid-column-end: 8;

}

#logginn_page{
  height: 70vh;
}

#se_mer{
  background-color: #4F5050;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 5vh;
  margin-top: 5vh;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: table;
  width: 40%;
  margin: 10% 15% 0% 30%;
}

#logginn{
  grid-column-start: 7;
  grid-column-end:8;
  border: 2px solid #2B3A6D;
  text-align:center;
  text-decoration: none;
  margin-top:5%;
  background-color: #2B3A6D;
  color: white;
  border-radius: 10px;
  font-size: 70%;
  padding-top:3%;
}

#logohead{
  margin-top: 5%;
  margin-left: 5%;
}

#allerede{
  grid-column-start: 2;
  grid-column-end:7;
  margin-top: 20%;
  margin-left:5%;
  margin-right:5%;
  color:white;
}

#allerede2{
  grid-column-start: 2;
  grid-column-end:7;
  margin-top: 30%;
  margin-left:15%;
  margin-right:15%;
  color:white;
}

#logginnbutton{
    background-color: #C4C4C4;
    color: white;
    text-decoration: none;
    margin-bottom: 10vh;
    padding: 2% 15%;
    border-radius: 10px;
    font-family: inherit;
}

.centered_list{
  grid-column-start:2;
  grid-column-end:7;
  text-align: center;
  height: 45vh;
}

.odd{
  background-color: #C4C4C4;
}


.credentials{
  width: 50vw;
  height: 5vh;
  text-align: center;
  margin-bottom: 5vh;
  border-radius: 10px;
}

.label{
  font-size: 250%;
}

.span3-6-center{
  grid-column-start: 3;
  grid-column-end:6;
  text-align: center;
}

.span2-7-center{
  grid-column-start: 2;
  grid-column-end:7;
  text-align: center;
}

.grid-item8{
  grid-column-start: 3;
  grid-column-end: 4;
  width: 27vw;
}

.grid-item9{
  grid-column-start: 6;
  grid-column-end: 8;
  width: 27vw;
}

.machine{
  border: 2px solid #C4C4C4;
  background-color: #C4C4C4;
  margin-left: 30%;
  height: 50vh;
  border-radius: 10px;
}

.machine2{
  border: 2px solid #2B3A6D;
  background-color: #2B3A6D;
  margin-right: 30%;
  height: 50vh;
  border-radius: 10px;
}

.main_footer{
  background-color: #2B3A6D;
  text-align: center;
  height: 30vh;

}

#footer_logo{
  font-size: 500%;
  padding-top: 3%;
  color: white;
}
